body
{
    background-color: #FAD240;
    background-image: url("./Asserts/parede-de-concreto.jpg");
    background-blend-mode: multiply;
    margin: 7px;
    display: flex;
    flex-direction: column;
}

header
{
    display: flex;
    justify-content: left;
    background-color: #FAD240;
}

section
{
    margin-right: 20px;
    margin-left: 20px;
}

h1
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
}

p
{
    font-size: 120%;
}

main
{
    /* margin-top: 600px; */
}

#Propaganda
{
    float: right;
    
}

#Imagem-Aplicativo
{
    width: 200px;
    height: 400px;
}

footer
{
    padding: 4px;
    margin-top: auto;
    background-color: #FDA935;
}

